@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');


:root {
    --sotetkek: #06435f;
    --vilagoskek: #1283b9;
  }


.fejlec{
    font-family: "Marhey", sans-serif;

    color: white;
    text-shadow: 5px 5px 10px black;

    height: 400pt;
    background-image: url('../img/balaton_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar{
    background-color: var(--sotetkek);
    color: white;
}

h2{
    font-family: "Marhey", sans-serif;
    color: var(--vilagoskek);
    text-decoration: underline wavy;
}

footer{
    text-align: center;
    font-family: "Marhey", sans-serif;

    color: white;
    text-shadow: 5px 5px 10px black;

}

table thead{
    text-align: center;
    font-family: "Marhey", sans-serif;
}
table tbody{
    background-color: #e6f3f8;
}
table tbody tr{
    border-bottom: 1pt solid var(--sotetkek);
}
table tbody tr td:first-child{
    color: var(--sotetkek);
    font-weight: bold;
}


.sotetkek{
    background-color: var(--sotetkek);
    color: white;
}
.vilagoskek{
    background-color: var(--vilagoskek);
    color: white;
}